<form action="/queries" method="POST">
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="File-Id"
        name="fileId"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Department"
        name="department"
      />
    </div>
    <div class="col">
      <input type="date" class="form-control" placeholder="date" name="date" />
    </div>
    <div class="col">
      <input
        type="number"
        class="form-control"
        placeholder="cost"
        name="cost"
        min="0"
      />
    </div>
    <div class="col">
      <button class="btn-primary" type="submit">search</button>
    </div>
  </div>
</form>

<hr />
<hr />
<div class="container"></div>
